<li><a><%= link_to 'Home', root_path %></a></li>
<li><a><%= link_to 'Projects', projects_path %></a></li>
<li><a><%= link_to 'Blog', '#' %></a></li>
<li><a><%= link_to 'About', about_path %></a></li>
<li><a><%= link_to 'Contact', contact_path %></a></li>